// Colours
$primary: #00b8d7;
$secondary: #8BCB6A;
$dark-grey: #31424b;
$mid-grey: #414f59;
$light-grey: #f6f6f6;
$black: #000;
$white: #fff;
$text-grey: #4c4c4c;


$large-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);

// UI
$ui-error: #f25648;
$ui-error-o70: rgba($ui-error, 0.7);